html {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

#board {
    display: flex;
    width: 80vmin;
    /* vmin - calculates the percentage of the shortest side of your viewport */
    flex-wrap: wrap;
    gap: 1vmin;
    margin: auto;
}

.square {
    width: 25vmin;
    height: 25vmin;
    border: 1px solid lightblue
}

button {
    margin: 20px;
    background-color: #1069bc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
  }