html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

#board {
    display: flex;
    justify-content: center;
    width: 80vmin;
    /* vmin - calculates the percentage of the shortest side of your viewport */
    flex-wrap: wrap;
    gap: 1vmin;
    margin: auto;
}

.square {
    width: 25vmin;
    height: 25vmin;
    border: 1px solid lightblue;
    text-align: center;
    font-size: 50px;
}


#btn {
    margin: 20px;
    background-color: #1069bc;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
  }